.about-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 300px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-name {
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
}

.profile-title {
  font-size: 1.125rem;
  color: #ffffff;
}

.profile-links {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 0.875rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-link a {
  background-color: #4295e3;
  color: white;
  padding: 4px 8px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.profile-link a:hover {
  background-color: #61c2f8;
}

.profile-description {
  color: rgb(209, 213, 219);
  line-height: 1.2;
  word-break: break-word;
}
